<div class="container-fluid">
	<h1><div><p>Inventory of Used Cars</div></h1>
	
	<p>
	<img src="usedCarLotPic2.jpg" class="img-responsive"></img>
	<p>
	
	<!--Please enter Mileage range:<p>
	Low <input ng-model="$ctrl.lowerMileage" />
		<p>
	High <input ng-model="$ctrl.higherMileage" />
		<p> <button class = "btn btn-primary" ng-click="compareCarMileage()">Filter</button>-->
	Sort by: <p>
	<select ng-model="$ctrl.orderProp">
          <option value="model">Alphabetical by model</option>
          <option value="mileage">Lowest Mileage</option>
		  <option value="-mileage">Highest Mileage</option>
        </select>
	
	
	
	
	
	<div id="originalUsedCars">
	<p>
	<p>
	<h3>Click on thumbnail for more pictures and a detailed description of the car</h3>
	<p>
	<div ng-repeat="car in $ctrl.cars | orderBy: $ctrl.orderProp" class="row">
		<div class="col-md-2"><a href="#/cars/{{car.id}}"><img ng-src="/pics/{{car.id}}/{{car.thumbnailImageUrl}}" id="placeholderImage"/></a></div>
		<div class="col-md-10"><h2>{{car.year}} {{car.make}} {{car.model}} </h2> <h3><ul><li>{{car.mileage}} miles</li></ul></h3></div>
		<hr>
	</div>
	</div>




<div ng-repeat="car in $ctrl.sortedCarsList">
<div class=row" id="usedCarsContent">
<div class="col-md-2"><img ng-src="thumbnailplaceholder.jpg" id="placeholderImage" /></div>
<div class="col-md-10"><h2 id="carMakeModel">{{car.year}} {{car.make}} {{car.model}}</h2> <h3><ul><li>{{car.mileage}} miles</li></ul></h3></div>

</div>
	
	<hr>
	</div>