body {
	background-color: white;
}
h1 {
	text-align: center;
}

#mainImage{
	width: 500px;
}



.thumbnailImage{
	width: 100px;
	border: 1px;
	
}

#detailText{
	font-size: 20px;
}
#thumbnailImagePreview{
	padding: 5px;
	width: 150px;
}

#carInfoSnippet{
	padding:10px;
}

#placeholderImage{
	height:auto;
	width:150px;
}
#rowOfCars:hover{background-color: #f5f5f5}