<!doctype html>
<html ng-app="usedCarsStuff">
  <head>
    
    <title>Used Car Lookup</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="app.css" />
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="app.module.js"></script>
	<script src="app.config.js"></script>
	<script src="usedcars-detail/usedcarsdetail.component.js"></script>
	<script src="usedcars-detail/usedcarsdetail.module.js"></script>	
	<script src="usedcars-list/usedcarslist.component.js"></script>
	<script src="usedcars-list/usedcarslist.module.js"></script>
    
  </head>
  <body>
	
	<div ng-view></div>
	
	
	
	<!--<div class="container-fluid">
	<h1><div><p>Inventory of Used Cars</div></h1>
	
	<p>
	<img src="usedCarLotPic2.jpg" class="img-responsive"></img>
	<p>
	
	Please enter Mileage range:<p>
	Low <input ng-model="$ctrl.lowerMileage" />
		<p>
	High <input ng-model="$ctrl.higherMileage" />
		<p> <button class = "btn btn-primary" ng-click="compareCarMileage($ctrl.lowerMileage,$ctrl.higherMileage)">Filter</button>-->
	
	<!--<usedcarslist></usedcarslist>-->
	
	<!--
	
	
	
	
	<div id="originalUsedCars">
	<p>
	Click on thumbnail for more pictures and a detailed description of the car
	<p>
	<div ng-repeat="car in cars" class="row">
		<div class="col-md-2"><a href="details.html" ng-click="detailsPage()"><img ng-src="thumbnailplaceholder.jpg" id="placeholderImage"/></a></div>
		<div class="col-md-10"><h2>{{car.year}} {{car.make}} {{car.model}} </h2> <h3><ul><li>{{car.mileage}} miles</li></ul></h3></div>
		<hr>
	</div>
	</div>





<div ng-repeat="car in sortedCarsList">
<div class=row" id="usedCarsContent">
<div class="col-md-2"><img ng-src="thumbnailplaceholder.jpg" id="placeholderImage" /></div>
<div class="col-md-10"><h2 id="carMakeModel">{{car.year}} {{car.make}} {{car.model}}</h2> <h3><ul><li>{{car.mileage}} miles</li></ul></h3></div>

</div>
	
	<hr>
	</div>-->
  </body>
</html>
